<!DOCTYPE html>
<html lang='en'>
  <body class="alien">
    <div class="comic-section">
      <h1 class="site-headline">Log in</h1>
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username %><br>
        <%= f.text_field :username %><br>

        <%= f.label :password %><br>
        <%= f.password_field :password %><br>

        <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %><br>

        <%= f.submit "Log in", class: "login-button" %>
      <% end %>
    </div>
  </body>

</html>
