<!DOCTYPE html>
<html lang='en'>
  <body class="tina">
  <%= render 'layouts/header' %>
  <div class="welcome-img">
    <div class="first-line">
    <%= link_to( image_tag("offensive.png", alt: "Offensively Offensive"), '#') %> 
    <%= link_to( image_tag("random.png", alt: "Random"), '#') %>
    <%= link_to( image_tag("mayuyu.png", alt: "Mayuyu's Anger Diaries"), '#' ) %>
    </div>  
    <div class="second-line">
    <%= link_to( image_tag("tina-comics.png", alt: "Tina And Her Funny Friends"), '#') %>
    </div>
  </div>
  </body>
</html>
