<% provide(:background, "index") %>
<ul class="index-link-list">
  <div id="scissors-icon">
    <%= image_tag "scissors.png", alt: "Scissors", id: "scissors-icon-image" %>
  </div>

  <a href="/offensive" class="index-link"><li class="index-link-item">
    <div id="offensive-link-item">
      <%= image_tag "offensive-background.png", alt: "Offensively Offensive" %>
    </div>
    Offensively Offensive
  </li></a>

  <a href="/mayuyu" class="index-link"><li class="index-link-item">
    <div id="mayuyu-link-item">
      <%= image_tag "mayuyu-background.png", alt: "Mayuyu's Anger Management Diaries" %>
    </div>
    Mayuyu's Anger Management Diaries
  </li></a>

  <a href="/random" class="index-link"><li class="index-link-item">
    <div id="random-link-item">
      <%= image_tag "random-background.png", alt: "Random" %>
    </div>
    Random
  </li></a>

  <a href="/tina" class="index-link"><li class="index-link-item">
    <div id="tina-link-item">
      <%= image_tag "tina-background.png", alt: "Tina" %>
    </div>
    Tina And Her Funny Friends
  </li></a>

  <a href="/alice" class="index-link"><li class="index-link-item">
    <div id="alice-link-item">
      <%= image_tag "alice-background.png", alt: "Alice Adventures In Wonderland" %>
    </div>
    Alice Adventures In Wonderland
  </li></a>

  <a href="/archive" class="index-link"><li class="index-link-item" >
    <div id="archive-link-item">
      <%= image_tag "archive-background.png", alt: "Archive" %>
    </div>
    Archive
  </li></a>

</ul>
<%= image_tag("logo.png", alt: "Cooro's Corner", id: "index-logo") %>
<a href="/about" id="about-link" class="index-link">About/Impressum</a>

