<% provide(:background, "index") %>
<ul class="index-link-list">
  <li class="index-link-item" id="offensive-link-item">
    <%= link_to "Offensively Offensive", '/offensive', id: "offensive_link", class: "index-link" %>
  </li>
  <li class="index-link-item" id="random-link-item">
    <%= link_to "Random", '/random', id: "random_link", class: "index-link" %>
  </li>
  <li class="index-link-item" id="mayuyu-link-item">
    <%= link_to "Mayuyu's Anger Management Diaries", '/mayuyu', id: "mayuyu_link", class: "index-link" %>
  </li>
  <li class="index-link-item" id="tina-link-item">
    <%= link_to "Tina And Her Funny Friends", '/tina', id: "tina_link", class: "index-link" %>
  </li>
  <li class="index-link-item" id="alice-link-item">
    <%= link_to "Alice Adventures In Wonderland", '/alice', id: "alice_link", class: "index-link" %>
  </li>
</ul>

