<% provide(:background, "index") %>
<div class="imagemap-substitution">
  <%= link_to "", '/offensive', id: "offensive_link" %>
  <%= link_to "", '/random', id: "random_link" %>
  <%= link_to "", '/mayuyu', id: "mayuyu_link" %>
  <%= link_to "", '/tina', id: "tina_link" %>
  <%= link_to "", '/alice', id: "alice_link" %>
</div>
