<body class="tina">
  <div class="comic-section">
    <h1 class="site-headline">edit background</h1>

    <%= form_for(:edit, url: "/edit/background/:label") do |f| %>
  
      <% current_background = Background.find_by_label(params[:label])%>

      <%= f.label :label %>
      <%= f.text_field :label, value: current_background.label%>

      <%= f.label :image %> 
      <%= f.file_field :image, multiple: false %>

      <%= f.submit "save changes", class: "login-button" %>
    <% end %>
  </div>
</body>
