<div class="footer">
  <ul> 
    <li><%= link_to "comics", '#' %></li>
    <li><%= link_to "..add", '#' %></li>
    <li><%= link_to "categories", '#' %></li>
    <li><%= link_to "..add", '#' %></li>
    <li><%= link_to "backgrounds", '#' %></li>
    <li><%= link_to "..add", '#' %></li>
  </ul>
</div>
