<div class="footer">
  <ul> 
    <li id="logout"><%= link_to "log out", '/logout' %>
    </li>
    <li class="users"><%= link_to "users", '/list/users' %>
    </li>
    <li class="comics" id="with-add"><%= link_to "comics", '/list/comics' %>
      <%= link_to "..add", '/upload', id: "comics-add" %>
    </li>
    <li class="categories" id="with-add"><%= link_to "categories", '/list/categories' %>
      <%= link_to "..add", '/category', id: "categories-add" %>
    </li>
    <li class="backgrounds" id="with-add"><%= link_to "backgrounds", '/list/backgrounds' %>
      <%= link_to "..add", '/background', id: "backgrounds-add" %>
    </li>
    <li class="help"><%= link_to "help", '/help' %>
    </li>
  </ul>
</div>
