<% provide(:background, current_background )%>

  <div class="comic">
    <%= render 'layouts/general_information' %>
    <%= render 'layouts/comic_image' %>
    <%= render 'layouts/authors_comment' %>
    <%= render 'layouts/new_comment' %>
    <%= render 'layouts/comments' %>
  </div>
  
