<div class="comments">
  <h1 class="comic-section-label">Comments</h1>
  <% comments = Comment.where(:comic_index => archive_index(params[:category], params[:index])) %>
  <% if comments.empty? %>
    <p class="single comment">
      no comments yet
    </p>
  <% end %>
  <% comments.each do |comment| %>
    <div class="single-comment">
      <p id="username-label">
        <%= comment.name %> - <%= comment.created_at%>
      </p>
      <p id="comment-content">
        <%= comment.content %>
      </p>
        <% if user_signed_in? %>
        <ul>
          <% if current_user %>
            <li><%= link_to "Edit", '#' %></li>
            <li><%= link_to "Delete", '#' %></li>
          <% end %>
          <li><%= link_to "Report", '#'%></li>
        </ul> 
        <% end %>
    </div>
  <%end%>
</div>
