<ul class="comic-navigation">
  <li>
    <%= link_to( image_tag("first.png", alt: "First!", class: "comic-nav-img"),
		 "/#{params[:category] || "archive"}/1") %> 
  </li>
  <li <% if first_comic %>id="disabled_link"<% end %>>
    <%= link_to_if(!first_comic, 
		image_tag("back.png", alt: "Back!", class: "comic-nav-img"),
		"/#{params[:category] || "archive"}/#{params[:index].to_i - 1}") %>
  </li>
  <li>
    <%= link_to( image_tag("random.png", alt: "Random!", class: "comic-nav-img"), 
		"/#{params[:category] || "archive"}/#{random_comic_index}") %>
  </li>
  <li <% if last_comic %>id="disabled_link"<% end %>>
    <%= link_to_if(!last_comic, 
		image_tag("next.png", alt: "Next!", class: "comic-nav-img"),
		"/#{params[:category] || "archive"}/#{params[:index].to_i + 1}") %>
  </li>
  <li>
    <%= link_to image_tag("last.png", alt: "Last!", class: "comic-nav-img"),
		"/#{params[:category] || "archive" }/#{last_comic_number}" %>
  </li>
</ul>
