<div id="comic-image" class="comic-section">
  <p id="title"><%= @comic.title %></p>
  <%= image_tag @comic.image.to_s %>
  <ul class="comic-navigation">
    <li><%= link_to("Back!", '#' ) %></li>
    <li><%= link_to("Random!", '#' ) %></li>
    <li><%= link_to("Next!", '#' ) %></li>
  </ul>
</div>
<div id="authors-comment" class="comic-section">
  <p id="headline" >Author's Comment</p>
  <p><%= @comic.authors_comment %></p>
</div>
<div id="user-comment" class="comic-section">
  <p id="headline">Comments</p>
</div>
