<div id="comic-image" class="comic-section">

  <div id="title"><%= @comic.title %>
    <% if !!current_user %>
       <%= link_to "edit", "/edit/#{params[:category] || "archive"}/#{params[:index]}" %>
       <%= link_to "delete", "/delete/#{params[:category] || "archive"}/#{params[:index]}" %>
    <% end %>
  </div>

  <%= render 'layouts/comic_navigation' %>
  <div class="comic-image-div"><%= image_tag @comic.image.to_s %></div>
  <%= render 'layouts/comic_navigation' %>

</div>
