<div class="navbar">
  <div class="container">
    <nav>
      <ul class="nav">
        <li><%= link_to image_tag("logo.png", alt: "Cooro's Corner", id: "logo-img"), root_path, id: "logo" %></li>
        <li class="comic-list-item"><%= link_to "Comics", root_path, id: "comic" %>
	  <ul class="submenu-comics">
            <% Category.all.each do |category| %>
            <li><%= link_to "#{category.label}", "#{category.short}" %></li>
            <% end %>
          </ul>
	</li>

        <li class="archive"><%= link_to "Archive", archive_path %></li>
        <li class="about"><%= link_to "About", about_path %></li>
	<hr id="header-bar" />
      </ul>
    </nav>
  </div>
</div>

