<header class="navbar">
  <div class="container">
    <nav>
      <ul class="nav">
        <li><%= link_to "Cooro's Corner", root_path, id: "logo" %></li>
        <li class="comic-list-item"><%= link_to "Comic", '', id: "comic" %>
	  <ul class="submenu-comics">
	    <li><%= link_to "Offensively Offensive", offensive_path %></li>
	    <li><%= link_to "Random", random_path %></li>
	    <li><%= link_to "Mayuyu's Anger Diaries", mayuyu_path %></li>
	    <li><%= link_to "Tina And Her Funny Friends", tina_path %></li>
	  </ul>
	</li>

        <li class="archive"><%= link_to "Archive", archive_path %></li>
        <li class="about"><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
         <li class="log-in-list-item"><%= link_to current_user.username %>
            <ul class="submenu-logged-in">
	      <li><%= link_to "preferences", preferences_path %></li>
	      <li><%= link_to "logout", logout_path %></li>
	    </ul>
          </li>
          
        <% else %>
          <li class="login"><%= link_to "Login", 'login' %></li>
        <% end %><br>
	<hr id="header-bar">
      </ul>
      </div>
    </nav>
  </div>
</header>

