<header class="navbar">
  <div class="container">
    <nav>
      <ul class="nav">
        <li><%= link_to "Cooro's Corner", root_path, id: "logo" %>
        <li><%= link_to "Comics", root_path %></li>
        <li><%= link_to "Archive", archive_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
          <li><%= current_user.name %></li>
        <% else %>
          <li><%= link_to "Login", '#' %></li>
        <% end %>
      </ul>
      <hr class="header-bar">
    </nav>
  </div>
</header>

