<!DOCTYPE html>
<html>
<head>
  <title>cooroscorner.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css' />
  <script>
    $(document).ready(function(){
      showSubmenuIfRightWindowSize();

      $(window).resize(showSubmenuIfRightWindowSize());

      function showSubmenuIfRightWindowSize(){
        if($(".submenu-comics").css("float") == "right"){
          $(".comic-list-item").mouseover(function(){
            $(".submenu-comics").css("display", "list-item");
          });
          $(".navbar").mouseleave(function(){
            $(".submenu-comics").css("display", "none");
          });
        }
      }
    }); 
  </script>
</head>
<% background_path = yield(:background) + ".jpg" %>
<body class=<%= yield :background %>>
<% current_uri = request.env['PATH_INFO'] %>
<% if !(current_uri == root_path || yield(:background) == 'not_found') %>
  <%= render 'layouts/header' %>
<% end %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type%>"><%= message %></div>
<% end %>
<% if current_user %>
  <%= render 'layouts/admin_footer' %>
<% end %>
<%= yield %>

</body>

</html>
