<!DOCTYPE html>
<html>
<head>
  <title>cooroscorner.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% background_path = yield(:background) + ".jpg" %>
<body class=<%= yield :background %>>
<% current_uri = request.env['PATH_INFO'] %>
<% if !(current_uri == root_path) %>
  <%= render 'layouts/header' %>
<% end %>
<% if current_user %>
  <%= render 'layouts/admin_footer' %>
<% end %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= yield %>

</body>

</html>
